body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #28a745;
}

.container {
    width: 85%;
    margin: auto;
    background: rgb(252, 216, 179);
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

/* Estilos para la sección de preguntas*/
.preguntas {
    margin-top: 20px;
    text-align: left;
}

.preguntas-item {
    background: white;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}


/* Estilos para formulario */
.contacto {
    margin-top: 30px;
}

.formu {
    margin-bottom: 15px;
}

label {
    font-weight: bolder;
    color: black;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 1px solid #8d6e63;
}

.btn {
    background-color: #6d4c41;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
}

.btn:hover {
    background-color:   #49332c;
}
