body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
}

.container {
    width: 85%;
    margin: auto;
    background: rgb(252, 216, 179);
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

/* Estilos para sección de búsqueda */
.busqueda {
    margin-top: 20px;
}

.busqueda input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8d6e63;
    border-radius: 5px;
    background-color: #efebe9;
}

/* Estilos para la tabla*/
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #8d6e63;
    padding: 10px;
    text-align: left;
    background-color: white;
}

.table th {
    background-color: #6d4c41;
    color: white;
}

/* Estilos para el botón de eliminación */
.btn-eliminar {
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #b71c1c;
}
