/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: auto;
    background: rgb(252, 216, 179);
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #6d4c41;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilo de pestañas */
.tab {
    overflow: hidden;
    background-color: #efebe9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #4e342e;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #d7ccc8;
}

.tab button.active {
    background-color: #6d4c41;
    color: white;
}

/* Contenido de pestañas */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    text-align: left;
}

.tabcontent h2 {
    color: #4e342e;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.tabcontent ul {
    list-style: none;
    padding: 0;
}

.tabcontent ul li {
    background: #efebe9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #4e342e;
}