/* Aqui separe por secciones para saber cual es cual */

/* Estilo general index */
body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
}

.container {
    width: 85%;
    margin: auto;
    background: rgb(252, 216, 179);
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

/* Estilos para la imagen */
#biblioteca {
    display:block;
    margin: auto;
    width: 95%;
    max-height: 300px;
    object-fit:cover;
    border-radius: 15px;
} 

/* Estilos para la parte de formularios */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight:bolder;
    color: #4e342e;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
}

.btn {
    background-color: #6d4c41;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #58392f;
}

/* Estilos para las tablas */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #8d6e63;
    padding: 10px;
    text-align: left;
    background-color: #efebe9;
    color: #4e342e;
}

.table th {
    background-color: #6d4c41;
    color: white;
}

/* Estilos para la sección de búsqueda */
.busqueda {
    margin-top: 20px;
}

.busqueda input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8d6e63;
    border-radius: 5px;
    background-color: #efebe9;
    color: #4e342e;
}
